version: "3"

x-podman:
  in_pod: false

services:
  devcontainer:
    build:
      containerfile: "./Containerfile"
    environment:
      - "DISPLAY"
    network_mode: "host"
    tty: true
    userns_mode: "host"
    volumes:
      - "../.cache/gradle:/root/.gradle"
      - "../.cache/licenses:/opt/android-sdk/licenses"
      - "../src:/opt/app/src:Z"
      - "../node_modules:/opt/app/node_modules:Z"
      - "../.env:/opt/app/.env:Z"
      - "../capacitor.config.ts:/opt/app/capacitor.config.ts:Z"
      - "../out:/opt/app/out"
    working_dir: "/opt/app"